body{
    background: #000;
    color:white;
    margin: auto 20px;
}

.box1{
    width: 200px;
    height: 150px;
    background: rgb(22, 105, 3);
    border:1px solid white;
}

h1{
    border: 1px solid red;
    padding: 20px 40px;
    text-align: center;
    /* height: 200px; */
    /* display: inline-block; */
}

#first{
    border: 1px solid red;
    /* padding: 100px; */
    /* display: inline-block; */
    width: 400px;/* no work inline  */
    height: 200px;/* no work */
    margin-top: 100px;/* no work */
    margin-bottom: 40px;/* no work */
    margin-left: 200px;/* wrok */
    margin-right: 400px;/* work */

}

