*{
    margin: 0;
}

body{
    /* padding-top: 20px; */
    background: grey;
    height: 120vh;
}

.container{
    position: sticky;
    height: 80vh;
    width: 80%;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    top: 1px;
}
