
body{
    color: white;
    font-size: 40px;
}
li{
    font-size: 20px;
}

.container{
    height: 250px;
    width: 250px;
    background: rgb(31, 31, 190);
    padding: 10px;
    border:5px solid purple;
    box-sizing: border-box;
    overflow: auto;
}

div.content-box{
    box-sizing: content-box;
}